<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/feeda924-637d-4823-8700-70887b538745/resourceGroups/school_management/providers/Microsoft.Web/sites/school-management-api</ResourceId>
    <ResourceGroup>school_management</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://school-management-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b5417b53-6283-44c8-958a-c96c95696099</ProjectGuid>
    <PublishUrl>https://school-management-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$school-management-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>